<div class="header__searchbar">
    <input class="header__search_input" placeholder="Search character" [formControl]="searchText" />
    <i class="header__searchbar_ico fa fa-search" aria-hidden="true"></i>
    <span class="header__searchbar_elements" *ngIf="listResult != undefined && listResult.length > 0">
        <ul>
           <li *ngFor="let character of listResult">
               {{character.name}} - <span class="small-detail">{{character.species}}</span>
           </li> 
        </ul>
    </span>
</div>