@import "../../../../../assets/scss/color";

.header__search_input {
    height: 30px;
    width: auto;
    padding-right: 15px;
    padding-left: 30px;
    border-radius: 50px;
    border: solid 2px $gray-ligth;

    &::placeholder {
        color: $gray-ligth;
    }
}

.header__searchbar {
    position: relative;
}

.header__searchbar_ico {
    color: $gray-ligth;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.header__searchbar_elements {
    z-index: 100;
    position: absolute;
    top: 42px;
    left: 0;
    background-color: white;
    height: 300px;
    overflow: auto;
    width: auto;
    border: solid 2px $gray-ligth;
    color: rgb(124, 121, 121);
    ul {
        list-style-type: none;
        padding: 5px;
        li {
            border-bottom: solid 2px rgb(204, 204, 204, 0.2);
            padding: 10px 15px;
        }
    }
}

.small-detail {
    font-size: 0.8rem;
    font-weight: 700;
}