body {
    background-color: #20232a;
    margin: 0;
    padding: 0 15px;
    color: white;
    font-family: 'Nunito',
        sans-serif !important;
}

a {
    color: white;
    text-decoration: none;
}