@import "../../../../../assets/scss/color";

.sidebar {
  padding-top: 2rem;
}

.sidebar__item{
  display: block;
  padding: 5px 10px;
  border-radius: 13px;
  opacity: 0.5;
  cursor: pointer;
}

.filter-selected {
  background-color: $rickmorty-blue;
  opacity: .8 !important;
  color: black;
}