.characteres {
    display: inline-block;
    margin: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.list-characteres {
    margin-left: 15px;
}


.list-character__link {
    display: inline-block;
    width: 200px;
}