@font-face {
    font-family: "RickMorty";
    src: local("Oxygen"), url(./assets/fonts/Ricky-and-Morty-font.ttf) format("truetype");
}

body {
    background-color: #20232a;
    margin: 0;
    padding: 0 15px;
    color: white;
    font-family: 'Nunito',
    sans-serif !important;
}

.small-detail {
    font-size: 0.8rem;
    font-weight: 700;
}

.modal-dialog {
    background-color: #20232a;
    border: none;
    border-radius: 15px;
}

.modal { 
    background-color: transparent!important;
}