.detail {
    margin: 50px 10px;
}

.detail-background {
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 15%;
    object-position: 50% 15%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.detail-header {
    position: relative;
    height: 250px;
}

.detail-header__figure {
   position: absolute;
   top: -50px;
   left: 0;
   margin: 0;
}