<section class="detail" *ngIf="detailModel !=  undefined">
    <div class="detail-background">
    </div>
    <div class="detail-header">
       <!-- <figure class="detail-header__figure">
           <img class="detail-header__figure_image"
                [src]="detailModel.image"
                alt="imagen">
        </figure>-->
        <h2>{{detailModel.name}}</h2>
        <span>{{detailModel.status}} - {{detailModel.species}}</span>
        <p>Gender:</p>
        <span>{{detailModel.gender}}</span>
        <p>Last known location:</p>
        <span>{{detailModel.location.name}}</span>
    </div>
    <div class="detail-content">
        <h2>Episodes</h2>
        <div style="display: inline-block;" *ngFor="let ep of detailModel.episode">
            {{ep}}
        </div>
    </div>
</section>

